<!DOCTYPE html>
<html>
<head>
  <title>SolidusModularFrontend</title>
  <%= stylesheet_link_tag    "solidus_modular_frontend/application", media: "all" %>
  <%= javascript_include_tag "solidus_modular_frontend/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
